doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="Content-Security-Policy", content="default-src 'self' https: ws: wss: 'unsafe-inline'; script-src 'self' https: https://js.stripe.com; connect-src 'self' https://api.stripe.com ws: wss:; frame-src https://js.stripe.com; script-src-elem 'self' https: https://js.stripe.com 'unsafe-inline'")
            link(rel="stylesheet", href="/css/style.css")
            link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            
            title Natours | #{title}
    
    body
        // Header
        include _header
        
        // Overview
        block content
            h1 this is placeholder

        // Footer
        include _footer

        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js")
        //- script(src="/js/mapbox.js")
        //- script(src="/js/login.js")
        script(src='https://js.stripe.com/v3/')
        script(src="/js/bundle.js")
